// hex
$color-white: #ffffff;
$color-black: #000000;
$color-nero: #272424;
$color-dodger-blue: #2787f5;
$color-biloba-flower: #a393f5;
$color-lucky: #a59400;
$color-forest-green: #308e21;
$color-grey: #777777;
$color-fire-brick: #c82020;
$color-montana: #393b3c;
$color-perana: #b4a9ff;
$color-salmon: #ff7575;
$color-east-bay: #45526e;
$color-heliotrope: #dc5dfc;
$color-cornflower-blue: #67a5eb;
$color-dim-gray: #747474;
$color-eclipse: #3c3c3c;
$color-granite-gray: #616161;
$color-slate-blue: #6a5dc2;
$color-vampire-black: #0a0b0b;

// rgba
$color-white-25: rgba(255, 255, 255, 0.25);
$color-white-33: rgba(255, 255, 255, 0.33);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-70: rgba(255, 255, 255, 0.7);
$color-white-80: rgba(255, 255, 255, 0.8);
$color-black-40: rgba(0, 0, 0, 0.4);
$color-black-50: rgba(0, 0, 0, 0.5);
$color-nero-70: rgba(39, 36, 36, 0.7);
$color-dodger-blue-18: rgba(39, 135, 245, 0.18);
$color-biloba-flower-18: rgba(163, 147, 245, 0.18);
$color-vampire-black-90: rgba(10, 11, 11, 0.9);

//gradient
$color-background-gradient:
  linear-gradient(
    178.73deg,
    $color-dodger-blue-18 -17.53%,
    $color-biloba-flower-18 131.74%
  ),
  linear-gradient(180deg, $color-black 0%, $color-nero-70 100%);
